body{
    background-color: #2d162c;
    color:  #9775a6; 
}
nav{
    display: flex;
    background-color:  #9775a6;
    height: 200px;
    width: 100%;
}
a{  
    text-decoration: none;
}

input{
    background-color: #9775a6;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
}
::placeholder{
    color: #ffffff;
}
div{
    margin: 2%;
    padding: 2%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    
}
#solicitudes{
    background-color: #9775a6;
    border-radius: 5px;
    color: #ffffff;
}

