body{
    background-color: #2d162c;
    color: #412752;
    font-family: 'Press Start 2P', cursive
}

.titu{
    text-align: center;
    color: #2d162c;
}


.parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #ab97b3;
    height: 470px;
    width: 750px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 230px;
    margin-top: 70px;
}
.img_gato{
    background-image: url(./img/login-gif.gif);
    background-size: calc(90%);
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-left: 10px;
}
.di{
    color: #2d162c;
    background-color: #9775a6; 
}

label{
    margin-left: 80px;
}

input{
    color: #2d162c;      
    background-color: #9775a6; 
    margin-left: 80px;
    height: 30px;
    width: 230px;
    border-left: none;
    border-right: none;
    border-top: none; 
    border-bottom-color:#2d162c;
}

input[type="text"]::placeholder {
    color: #683a68;
    font-family: 'Press Start 2P', cursive
}

button{
    margin-left: 140px;
    height: 40px;
    width: 100px;
    background-color: #683a68;
    color: #2d162c;
    border-radius: 5px;
    border: none;
    font-family: 'Press Start 2P', cursive
}

a{
    color: #412752;
    text-decoration: none;
    margin-left: 137px;
    font-size: x-small;
}

dialog {
    background-color: #ab97b3;
    color: #412752;
    text-align: center;
    height: 350px;
    width: 500px;
}

.tecleando{
    width: 40%;
}

#boton_10{
 margin-right: 25%;
}
#boton_9{
    margin-right: 25%;
}
#boton_8{
    margin-right: 25%;
}
#boton_7{
    margin-right: 25%;
}
#boton_6{
    margin-right: 25%;
}
#boton_5{
    margin-right: 25%;
}
#boton_4{
    margin-right: 25%;
}
#boton_3{
    margin-right: 25%;
}
#boton_2{
    margin-right: 25%;
}
#boton_1{
    margin-right: 25%;
}

@media (max-width: 800px) {
    .parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: #ab97b3;
        height: 470px;
        width: 380px;
        border-radius: 10px;
        overflow: hidden;
        margin-left: 100px;
        margin-top: 70px;
    }
}
.parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #ab97b3;
    height: 470px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
   
    margin-top: 70px;
}
input{
    color: #2d162c;      
    background-color: #9775a6; 
    margin-left: 10px;
    height: 30px;
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: none; 
    border-bottom-color:#2d162c;
}
label{
    margin-left: 80px;
    font-size: 5px;
}
input[type="text"]::placeholder {
    color: #683a68;
    font-family: 'Press Start 2P', cursive;
    font-size: 5px;
}
button{
    margin-left: 100px;
    height: 20px;
    width: 50px;
    background-color: #683a68;
    color: #2d162c;
    border-radius: 5px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 5px;
}
a{
    color: #412752;
    text-decoration: none;
    margin-left: 100px;
    font-size: 5px;
}
